<div class="sidebar-container">
    <div class="logo-container">
        <img src="/logo.png" alt="">
    </div>
    <div class="menu-container">
        <a routerLink="/admin" routerLinkActive="active-link">
            <li>
                <img src="/table-solid-full.svg">
                Dashboard
                
            </li>
        </a>
        <a routerLink="/tickets" routerLinkActive="active-link">
            <li>
                <img src="/ticket-solid-full.svg">
                Tickets
            </li>
        </a>
        <a routerLink="/agents" routerLinkActive="active-link">
            <li>
                <img src="/users-solid-full.svg">
                Agents
            </li>
        </a>
        <a routerLink="/repports" routerLinkActive="active-link">
            <li>
                <img src="/scroll-solid-full.svg">
                Repports
            </li>
        </a>
    </div>
</div>
